<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= error.status === 404 ? '404 - Page Not Found' : '500 - Server Error' %></title>
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>

<%- include('./shared/header') %>

  
  <main class="mt-40">
    <nav class="text-sm text-gray-700 m-10 mr-3">
      <span><a class="px-3 py-2" href="/">Home</a></span>
      <span class="mx-2">/</span>
      <span class="font-semibold text-black"><%= error.status === 404 ? '404 Error' : '500 Error' %></span>
    </nav>
    <div class="text-center mt-40 lg:mt-32 px-6 sm:px-5 ">
      <h2 class="text-4xl font-semibold text-black mb-6 lg:text-8xl md:text-7xl">
        <%= error.status === 404 ? '404 NOT FOUND' : '500 SERVER ERROR' %>
      </h2>
      <p class="text-lg mb-11 font-sans text-black lg:mt-10 lg:mb-16 md:mb-9">
        <%= error.status === 404 ? 'Your visited page not found. You may go home page.' : 'Something went wrong. Please try again later.' %>
      </p>
      <button class="focus:bg-[#de2d2d] focus:outline-none text-center mb-4 px-4 py-3 lg:px-10 bg-[#DB4444] hover:bg-[#de2d2d] text-white radius shadow">

        <a href="/" >
          Back to home page
        </a>
      </button>
    </div>
  </main>
</body>
</html>

<%- include('./shared/footer') %>
